#material-dialog {
  width: 18cm;
  margin: auto;
  border-width: 0px;

  font-size: 14px;
  &::backdrop {
    backdrop-filter: blur(2px);
  }
}

#material-dialog div.margin {
  border-width: 3px;
  border-radius: 6px;
  margin: 0.3cm;
  padding: 0.4cm;
}
