#model-item {
  justify-content: center;
  align-items: center;
  width: 5cm;
  height: 5cm;
  padding: 10px;
  border: 1px solid;
  border-color: var(--color-4-secondary);
  border-radius: 6px;
  background-color: var(--color-7-primary);
  color: var(--color-1-secondary);
  overflow: hidden;
}

#model-item p {
  font-size: 10px;
  text-align: center;
}
