@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f1f8fe;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Color Pallette from https://uicolors.app/create?input=8ac8f0 
#E3fffb;
#c0e0f7;
#8ac8f0;
*/

#tabs {
  list-style: none;
  display: flex;
}

#tabs li {
  padding: 0.5rem 0.25rem 0.5rem 0.25rem;
  margin-left: 1.5rem;
  text-align: left;
  cursor: pointer;

  color: #154265;
  border: none;
  box-shadow: none;
  display: flex;
  align-items: center;
}

#tabs li:hover,
#tabs li.selected {
  color: #2391d4;
}

.nav-link-active {
  position: relative;
  text-decoration: none;
  color: #2391d4;
}

.nav-link {
  text-decoration: none;
  color: inherit;
  position: relative;
}

#menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c0e0f7;
  margin: 0;
  margin-bottom: 1rem;
  padding-bottom: 0.25rem;
}

#app-links {
  list-style: none;
  margin: 0;
  display: flex;
  margin-left: 2rem;
}

#app-links li {
  padding: 0.5rem 0.25rem 0.5rem 0.25rem;
  margin-left: 1.5rem;
  text-align: left;
  cursor: pointer;

  color: #125c92;
  border: none;
  box-shadow: none;
  display: flex;
  align-items: center;
}